In [15]:
#Question1

#Create a list with ages of 10 students
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#sort the list
ages.sort()
print("Sorted List: ",ages)

#find the min and max age
#min_age = min(ages)
#max_age = max(ages)
min_age = ages[0]
max_age = ages[len(ages)-1]
print("Minimum Age: ",min_age)
print("Maximum Age: ",max_age)

#add the min and max age again to  the list
ages.append(min_age)
ages.append(max_age)
print("After adding Mininum and Maximum ages to the list: ",ages)

#median of a list
if (len(ages)%2 == 0):
    x = int(len(ages)/2)
    median_ages = int((ages[x-1] + ages[x])/2)
else:
    x = int((len(ages)-1)/2)
    median_ages = ages[x]
print("Median Age: ",median_ages)

#average of the list
sum = 0
for i in ages:
    sum += i
average = sum/len(ages)
print("Average Age: ",average)

#range of the list
print("Range:", (max(ages)-min(ages)))

Sorted List:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age:  19
Maximum Age:  26
After adding Mininum and Maximum ages to the list:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median Age:  24
Average Age:  22.75
Range: 7

In [16]:
#Question2

#Create an empty dictionary dog
dog = {}

#Add items to the dictionary
dog['Name'] = 'Eva'
dog['Color'] = 'Black and White'
dog['Breed'] = 'Golden Retriever'
dog ['Legs'] = 4
dog['Age'] = 6
print(dog)

#Create a Student dictionary and add keys and values to it
student = {
        'first Name':'John', 
        'last Name':'Stinson',
        'gender':'male',
        'age': '23',
        'marital_stauts':'single',
        'skills':['Java', 'Java Script', 'Python', 'SQL'],
        'country':'United States of America',
        'city':'Georgia',
        'address':'13021 Bristol St'}
print(student)

#print length of student dictionary
print(len(student))

#get the value of skills
print(student.get('skills'))
print(type(student.get('skills')))

#add one or two skills to the list
student['skills'].append('Scripting')
student['skills'].append('User Interface')
print(student)

#get dictionary keys as list
keys = student.keys()
print(keys)

#get dictionary values as list
values = student.values()
print(values)

{'Name': 'Eva', 'Color': 'Black and White', 'Breed': 'Golden Retriever', 'Legs': 4, 'Age': 6}
{'first Name': 'John', 'last Name': 'Stinson', 'gender': 'male', 'age': '23', 'marital_stauts': 'single', 'skills': ['Java', 'Java Script', 'Python', 'SQL'], 'country': 'United States of America', 'city': 'Georgia', 'address': '13021 Bristol St'}
9
['Java', 'Java Script', 'Python', 'SQL']
<class 'list'>
{'first Name': 'John', 'last Name': 'Stinson', 'gender': 'male', 'age': '23', 'marital_stauts': 'single', 'skills': ['Java', 'Java Script', 'Python', 'SQL', 'Scripting', 'User Interface'], 'country': 'United States of America', 'city': 'Georgia', 'address': '13021 Bristol St'}
dict_keys(['first Name', 'last Name', 'gender', 'age', 'marital_stauts', 'skills', 'country', 'city', 'address'])
dict_values(['John', 'Stinson', 'male', '23', 'single', ['Java', 'Java Script', 'Python', 'SQL', 'Scripting', 'User Interface'], 'United States of America', 'Georgia', '13021 Bristol St'])

In [17]:
#Question 3

#create brothers and sisters tuples
sisters = ('Meera','Sandhiya','Akshaya')
brothers = ('Sandeep','Suraj')
print("Sisters: ", sisters)
print("Brothers: ", brothers)

#join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print("Siblings: ", siblings)

#print the number of siblings
print("Total Number of Siblings:", len(siblings))

#add the name of parents to sibling tuple and assign it to family_members
family_members = siblings + ('Ramesh','Meena')
print("Family: ",family_members)

Sisters:  ('Meera', 'Sandhiya', 'Akshaya')
Brothers:  ('Sandeep', 'Suraj')
Siblings:  ('Meera', 'Sandhiya', 'Akshaya', 'Sandeep', 'Suraj')
Total Number of Siblings: 5
Family:  ('Meera', 'Sandhiya', 'Akshaya', 'Sandeep', 'Suraj', 'Ramesh', 'Meena')

In [28]:
#Question 4 - Part 1

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

#length of it_companies set
print("Lenght of it_companies set: ", len(it_companies))

#add Twitter to it_companies
it_companies.add('Twitter')
print(it_companies)

#insert multiple it companies to the set at once
it_companies.update(['Walmart','Wipro','TCS'])
print(it_companies)

#remove one item from it_companies set
it_companies.remove('TCS')
print(it_companies)

#differcence between remove and discard
#it_companies.remove('Netflix') #When the item to be removed is not in the set, the remove() function throws an error
it_companies.discard('Intel') #when the item to be discarded is not in the set, the discard() function does not throw error
print(it_companies)

Lenght of it_companies set:  7
{'Twitter', 'Apple', 'Microsoft', 'IBM', 'Google', 'Oracle', 'Amazon', 'Facebook'}
{'Apple', 'Google', 'Oracle', 'Facebook', 'Microsoft', 'Wipro', 'Twitter', 'Walmart', 'IBM', 'TCS', 'Amazon'}
{'Apple', 'Google', 'Oracle', 'Facebook', 'Microsoft', 'Wipro', 'Twitter', 'Walmart', 'IBM', 'Amazon'}
{'Apple', 'Google', 'Oracle', 'Facebook', 'Microsoft', 'Wipro', 'Twitter', 'Walmart', 'IBM', 'Amazon'}

In [21]:
#Question 4 - Part 2

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

#join sets A and B
a_union_b = A.union(B)
print(a_union_b)

#get A intersection B
a_intersection_b = A.intersection(B)
print(a_intersection_b)

#check if A is subset of B
print("Is A subset of B: ", A.issubset(B))

#check if A and B are disjoint
print("Are A and B disjoint sets: ", A.isdisjoint(B))

#join A with B
B.update(A)
print("Set B: ",B)

#join B with A
A.update(B)
print("Set A: ",A)

#get the symmetric difference between A and B
sym_diff = A.symmetric_difference(B) #since we join A with B, and B with A, the symmetric diffcerence is null
print("Symmetric Differece between A and B:",sym_diff )

#delete the sets
del A
del B
#print(A) #when trying to print the set it throws error as the set was deleted completely

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
Is A subset of B:  True
Are A and B disjoint sets:  False
Set B:  {19, 20, 22, 24, 25, 26, 27, 28}
Set A:  {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric Differece between A and B: set()

In [22]:
#Question 4 - Part 3

age = [22, 19, 24, 25, 26, 24, 25, 24]
#convert ages list to set
age_set = set(age)
print("Age list converted to Set:",age_set)

#compare length of the age list and age set
print("Length of age list:", len(age))
print("Length of age set:",len(age_set))
print("Difference in length:", (len(age) - len(age_set))) # there is a difference because there is no repetion in sets

Age list converted to Set: {19, 22, 24, 25, 26}
Length of age list: 8
Length of age set: 5
Difference in length: 3

In [1]:
#Question 5

#get the radius from the user
radius = int(input("Enter radius of the Circle in meters: "))

#calcualte area of the circle
area_of_circle = 3.14 * (radius**2)
print("Area of the Circle is %0.2f" %area_of_circle,"meter squared")

#calculate circumference of the circle
circum_of_circle = 2 * 3.14 * radius
print("Circumference of the Circle is %0.2f" %circum_of_circle, "meters")

Enter radius of the Circle in meters: 30
Area of the Circle is 2826.00 meter squared
Circumference of the Circle is 188.40 meters

In [24]:
#Question 6

sentence = "I am a teacher and I love to inspire and teach people"
words = (sentence.split()) #split() splits the words in the sentence and form a list
unique_words = set(words) #set() function converts list to set which avoids repetion so we get the unique words
print(unique_words)

{'and', 'a', 'am', 'teach', 'people', 'teacher', 'I', 'love', 'to', 'inspire'}

In [25]:
#Question 7

#Use of tab espcape sequence
print("Name\tAge\tCountry\tCity")
print("Rajini\t75\tIndia\tChennai")

Name	Age	Country	City
Rajini	75	India	Chennai

In [26]:
#Question 8

radius = 10
area = 3.14 * radius**2

#displayed area and radius using string formatting
print('The area of a circle with radius %d is %d meter squared' %(radius,area))

The area of a circle with radius 10 is 314 meter squared

In [27]:
#Question 9

#create an empty list
weight_list = []

#get the list size and input from the user
N = int (input("Enter the No. of Students: "))
for i in range(0,N):
    item = int(input())
    weight_list.append(item)

#print the input list
print("Weight in lbs: ", weight_list)

#create the new list of weight in kg using list comprehension
newList = [round(x/2.205,2) for x in weight_list]
print ("Weight in Kgs: ",newList)

Enter the No. of Students: 4
150
155
145
148
Weight in lbs:  [150, 155, 145, 148]
Weight in Kgs:  [68.03, 70.29, 65.76, 67.12]